page-about {

	.aboutContent{
		background-color: #fff;
	}
	.ceoContent{
		background-color: color($colors, secondary);
		color: #fff;
	}
	.coffeeContent{
		color: color($colors, light);
	}
	.ceo{
		height: 1.75em;
	}
	p{
		font-size: 1.25em;
	}

}
