page-reward-modal {
	ion-toolbar{
		text-align: center;
	}
	.text-align{
		text-align: center;
		width: 100%;
		position: relative;
		padding: 10px;
		// top: 5.0em;
	}
	.text-format{
		font-weight: bold;
		color: #333;
		font-size: 2em;
	}
}
