<ion-header>
    <ion-toolbar color="light">
      <img src="assets/img/wired-brain-coffee-logo.png" class="logo">
    </ion-toolbar>

    <ion-toolbar *ngIf="!loggedIn" color="secondary">
      <button [navPush]="loginPage" ion-button clear>Login</button>
    </ion-toolbar>

    <ion-toolbar *ngIf="loggedIn" color="secondary">
      <button ion-button icon-left clear small>
        <ion-icon name="contact"></ion-icon>
        Welcome {{loggedIn}}
      </button>
      
      <button (click)="logout()" ion-button outline small >Log Out</button>
    </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list *ngFor="let menu of menuData" >
    <ion-card>
      <img src="{{menu.pic}}" alt="{{menu.title}}">
      <div class="card-title" 
          (click)="myPagePush(menu.pushPage)" >{{menu.title}}</div>
    </ion-card>
  </ion-list>

</ion-content>
